<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Assignment_3</display-name>
	
	<context-param>
		<param-name>download-dir</param-name>
		<param-value>download_files</param-value>
	</context-param>
	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>servlet.FileDownloadServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileListServlet</servlet-name>
		<servlet-class>servlet.FileListServlet</servlet-class>
	</servlet>
	
	<servlet>
 		<servlet-name>VRS</servlet-name>
 		<servlet-class>servlet.ViewResourceServlet</servlet-class>
 	</servlet>
 	
 	<servlet>
 		<servlet-name>SRCS</servlet-name>
 		<servlet-class>servlet.SaveRemoteContentServlet</servlet-class>
 	</servlet>
 	
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/fileDownload_servlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileListServlet</servlet-name>
		<url-pattern>/fileList_servlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VRS</servlet-name>
		<url-pattern>/ViewResourceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SRCS</servlet-name>
		<url-pattern>/srcs</url-pattern>
	</servlet-mapping>
</web-app>